/**
 * Color Palette
 * 
 * Hex Values
 * Teal: #4db6ac
 * Red: #ef5350
 * Orange: #ffb74d
 * Off White/Gray: #fafafa
 * Charcoal: #252525
 * 
 * RGB Values
 * Teal: rgb(77, 182, 172)
 * Red: rgb(239, 83, 80)
 * Orange: rgb(255, 184, 77)
 * Off White: rgb(250, 250, 250)
 * Charcoal: rgb(37, 37, 37)
 * 
 * Correlates to Materialize CSS
 * Teal: teal lighten-2
 * Red: red lighten-1
 * Orange: orange lighten-2
 * 
 */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #252525;
}

nav {
  position: fixed;
  top: 0px;
  z-index: 99;
}

footer {
  border-top: 3.5px solid #ffb74d;
}

/** Color classes */
.text-teal {
  color: #4db6ac;
}
.text-red {
  color: #ef5350;
}
.text-orange {
  color: #ffb74d;
}

/** card component classes */
.map-card {
  height: 80vh;
}

.locations-list {
  height: 34vh;
  overflow-y: scroll;
}

/** navbar responsiveness */

ul.hide-on-med-and-down.right:last-child {
  margin-right: 15%;
}

@media only screen and (min-width: 992px) {
  .brand-logo {
    margin-left: 15%;
  }
}

/** footer responsiveness */
.footer-col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.footer-col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-col3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 601px) {

  .footer-col2, .footer-col3 {
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }

}


/** Home Page Logo Icon Formatting */

.main-icon-container {
  height: 250px;
}

.main-icon-parent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Sign-in button */
.btn-signin {
  padding: 0 0 !important;
  color: #4db6ac !important;
}

/** Universal Class Utitlities */

.m-below-nav {
  margin-top: 6rem;
}

.mx0 {
  margin-left: none !important;
  margin-right: none !important;
}

.m-5 {
  margin: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.centerHoriz {
  display: flex;
  justify-content: center;
}

.centerVert {
  display: flex;
  align-items: center;
}

/* .centerHorizDoom {
  display: flex;
  justify-content: center;
} */

.input-field>label.select-label {
  position: relative;
}


/* Icon sizing */

.md-icon {
  font-size: 6rem;
}

.lg-icon {
  font-size: 10rem;
}

.xl-icon {
  font-size: 17rem;
}

/* font-sizing */
.fs1 {
  font-size: 1rem;
}

.fs2 {
  font-size: 1.5rem;
}

.fs3 {
  font-size: 2rem;
}

.fs4 {
  font-size: 2.5rem;
}

.fs5 {
  font-size: 3rem;
}

.displayFont {
  font-size: 1.1rem;
  /* line-height: 1.5rem; */
  letter-spacing: 0.05em;
}

/* fonts */

@font-face{
  font-family: "DoomStd";
  src: local("DoomStd"),
  url("./fonts/Doom2016Text-GOlBq.ttf") format("truetype")
}

@font-face{
  font-family: "DoomLeft";
  src: local("DoomLeft"),
  url("./fonts/Doom2016Left-RpJDA.ttf") format("truetype")
}

@font-face{
  font-family: "DoomRight";
  src: local("DoomRight"),
  url("./fonts/Doom2016Right-VGz0z.ttf") format("truetype")
}

.doomFontStd{
  font-family: "DoomStd";
  color: #4db6ac;
  font-size: 100px;
  margin: 0px
}

.doomFontLeft{
  font-family: "DoomLeft";
  color: #4db6ac;
  font-size: 100px;
  margin: 0px
}

.doomFontRight{
  font-family: "DoomRight";
  color: #4db6ac;
  font-size: 100px;
  margin: 0px
}

.doomFontStdMed{
  font-family: "DoomStd";
  color: #4db6ac;
  font-size: 75px;
  margin: 0px
}

.doomFontLeftMed{
  font-family: "DoomLeft";
  color: #4db6ac;
  font-size: 75px;
  margin: 0px
}

.doomFontRightMed{
  font-family: "DoomRight";
  color: #4db6ac;
  font-size: 75px;
  margin: 0px
}

.doomFontStdSmall{
  font-family: "DoomStd";
  color: #4db6ac;
  font-size: 50px;
  margin: 0px
}

.doomFontLeftSmall{
  font-family: "DoomLeft";
  color: #4db6ac;
  font-size: 50px;
  margin: 0px
}

.doomFontRightSmall{
  font-family: "DoomRight";
  color: #4db6ac;
  font-size: 50px;
  margin: 0px
}

@font-face{
  font-family: "Arista";
  src: local("Arista"),
  url("./fonts/Arista2.0.ttf") format("truetype")
}

h1, h2, h3, h4, h5 {
  font-family: "Arista";
}